{% extends "base.html.twig" %}

{% block body %}
<h1>Nouveau projet</h1>

    <form action="" method="post">
        Nom: <input type="text" name="name">
        <input type="submit" value="Ajouter le projet">
    </form>

{% endblock %}