{% extends "base.html.twig" %}

{% block body %}
<h1>Nouvelle tache</h1>

    <form action="" method="post">
        titre: <input type="text" name="title">
        description: <input type="text" name="description">
        <input type="submit" value="Ajouter le projet">
    </form>

{% endblock %}